*{
    margin:0 auto;
    text-decoration:none;
    list-decoration:none;
}
h1{
    text-align:center;
}
a{  font-family:微软雅黑;
    font-size:30px;
    color: #7150ff;
    display:block;
    text-align:center;

}
img{
    margin:auto;
    width:60%;
    height:40%;
    display:block;
}